@model AdSystem.Models.Ad

<article class="ad col-md-4 col-sm-6">
    <header>
        <h3>@Model.Title</h3>
    </header>
    <img src="/images/no-photo.jpg" class="img img-thumbnail" alt="عنوان آگهی ملک" />
    <footer>
        <div class="row">
            <div class="col-xs-6">متراژ</div>
            <div class="col-xs-6">@Model.Area متر</div>
        </div>
        <div class="row">
            <div class="col-xs-6">قیمت کل</div>
            <div class="col-xs-6">@Model.TotalPriceText تومان</div>
        </div>
    </footer>
</article>