@using AdSystem.Models
@model IEnumerable<AdSystem.Models.Ad>

@{
    ViewBag.Title = "صفحه اصلی";
}
@foreach (var ad in Model)
{
    @Html.Partial("_AdBox", ad)
}


<div>

    <ul>
        @for (int i = 1; i <= (int)ViewBag.PageCount; i++)
        {
            <li>
                <a href="@Url.Action("Index", new { page = i })">
                    @i
                </a>
            </li>
        }
    </ul>

</div>