
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>

    </style>
</head>
<body>
    <div> 
        @Url.Action("Create", "Ads")
        <br/>
        @Url.Action("Create")
        <br/>
        @Url.Action()
        <br/>
        @Url.Action("Index", "Categories", new { id = 10, name = "Sample" })
    </div>

    <div>
    @using (Html.BeginForm())
    {

    }
    </div>
</body>
</html>
